@import url("https://fonts.googleapis.com/css?family=Fira+Code");

/*
code, .sourceLine, .sourceCode {
  font-family: "Fira Code VF", Consolas, Inconsolata, monospace !important;
}
*/

code, .sourceLine, .sourceCode {
  font-family: "Fira Code", Consolas, Inconsolata, monospace !important;
  white-space: inherit;
}
